@model ReportTestModel

<div class="title">
	<h1>Página de Testes de Relatórios</h1>
</div>

<div class="container">
	<div class="reports">

		<table>
			<thead>
				<tr>
					<th>Reports</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.ReportsList.Select((value, i) => new { value, i }))
				{
					<tr>
						<td>
							@*<a href="@item.i">@item.value</a>*@
							<a asp-controller="ReportTest" asp-action="Index" asp-route-reportIndex="@item.i">@item.value</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

		
	</div>
	<div class="webreport">
		@await Model.WebReport.Render()
	</div>
</div>